body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

h2 {
    font-family: fantasy;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #2b36a7;
}

.jogo {
    width: 500px;
    height: 500px;
    position: relative;
    border: 2px solid #000;
    background-color: #73643d68;
    overflow: hidden;
    margin-top: 10px;
}

.imagem {
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 60px;
}

.imagem1 {
    background-image: url('img/eu.png');
    left: 100px;
    top: 200px;
}

.imagem2 {
    background-image: url('img/moh.png');
    left: 300px;
    top: 200px;
}

#mensagem {
    font-size: 1.2rem;
    color: rgb(128, 0, 0);
    font-weight: bold;
    margin-top: 15px;
    min-height: 30px;
}